html, body, button {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(0, 0, 21, 1);
    margin: 0;
    padding: 0;
}

/* Nawigacja */

.headerlarge{
    display: flex;
    justify-content: space-evenly;
    color:orange;
}

#navmobile{
    background-color: #000015;
    position: fixed;
    overflow: hidden;
    margin-top: 60px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#navmobile button{
    font-size: 13px;
    color:orange;
}

.navbar {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar:before, .navbar:after {
    display: table;
    clear: both;
}

.navbar .navbaritem {
    padding: 12px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.mobilenavicon {
    padding: 14px 18px!important;
}

.navbarblock .navbaritem{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    overflow:hidden;
    outline:0
}

.navbutton{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.navbutton{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.navbarblock, .navbarblock {
    width:100%;
    min-width:100%
}

.navbarblock, .navbutton, .navbarblock, .navbutton{
    width:100%;
    text-align:left;
    padding:8px 16px
}

.navbarblock, .navbaritem{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
    text-align:center;
}

.hide{
    display:none!important
}

.slidenavbarshow{
    display:block!important;
}

.navbaricons {
    width: 25px;
    text-align: center;
    font-size: 25px;
    padding-right: 6px;
}

/* Ikona menu na małych ekranach */

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: orange;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
    background-color: white;
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
    background-color: white;
}

/* Content */

.included_page {
    display: flex;
}

.bodytext {
    text-align: center;
    margin-top: 40vh;
    background-color: black;
    color: white;
    font-size: 40px;
}

.contentbody {
    width: 100%;
    height: 90vh;
}

/* Stopka */

.footer {
    display: inline-block;
    position: fixed;
    width: 100%;             
    bottom: 0;
    color: orange;
    background-color: rgba(0, 0, 21, 1);
}

.footer p {
    top: 50%;
    text-align: center;
}

/* Responsywność */

@media (min-width:481px) and (max-width:600px){
    button {
        font-size: 12px;
        padding: 12px 16px!important;
    }
}	

@media (min-width:481px){
    .hover:hover{
        transform: scale(1.1);
        color:#fff!important;
        background-color:#000015!important
    }
}

@media (max-width:992px) and (min-width:481px){
    .hidemedium{
        display:none!important
    }
}

@media (min-width:993px){
    .hidelarge{
        display:none!important
    }
}

@media (min-width:640px){
    button {
        font-size: 18px;
    }
}

@media (max-width:480px){
    .hidesmall{
        display:none!important
    }
    .navbutton{
        width:100%
    }
    .footertext {
        font-size: 3vw;
    }
}

@media screen and (max-width: 480px) {
    .headerlarge{
        display:block;
    }
    button {
        font-size: 20px!important;
        padding: 16px 0px!important;
    }

}