<div class="container">
    <div class="homeinfo">
        <img src="media/home.png" alt="Logo"><br>
        <p>Cześć! Witaj na stronie NelikStudio - miejscu, gdzie pasja, kreatywność i zainteresowania spotykają się w jednym magicznym miejscu! Cieszę się, że tu jesteś i chciałbym Cię zaprosić do odkrywania mojego różnorodnego świata! Jeśli interesuje Cię montaż filmów, tworzenie treści na platformach takich jak YouTube czy TikTok, tworzenie stron internetowych (takich jak ta :D), to idealnie trafiłeś/aś! Znajdziesz tutaj również moją pasję i zainteresowania, takie jak gry strategiczne, historia (zwłaszcza II wojna światowa), ale i również amatorskie tworzenie skryptów do gry Minecraft. Zapraszam Cię na fascynującą podróż po mojej krainie! </p>
    </div>
</div>

<style>

.included_page {
    overflow: hidden;
}

.homeinfo {
    margin: 0px calc(48px + 1.5625vw) 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    min-height: calc(100vh - 125px);
}

img {
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

/* Responsywność */

@media (max-width: 480px) {
    .homeinfo {
        font-size: 1.7vh;
    }
    img {
        width: 40vw;
    }
}

@media (min-width: 481px) and (max-width: 620px){
    .homeinfo {
        font-size: 16px;
    }
    img {
        width: 35vw;
    }
}	

@media (min-width: 621px) and (max-width: 700px){
    .homeinfo {
        font-size: 18px;
    }
    img {
        width: 35vw;
    }
}

</style>