<div class="container">
    <div class="homeinfo">
        <img src="media/home.png" alt="Logo"><br>
        <p>Cześć! Witaj na stronie NelikStudio - miejscu, gdzie pasja, kreatywność i zainteresowania spotykają się w jednym magicznym miejscu! Cieszę się, że tu jesteś i chciałbym Cię zaprosić do odkrywania mojego różnorodnego świata! Jeśli interesuje Cię montaż filmów, tworzenie treści na platformach takich jak YouTube czy TikTok, tworzenie stron internetowych (takich jak ta :D), to idealnie trafiłeś/aś! Znajdziesz tutaj również moją pasję i zainteresowania, takie jak gry strategiczne, historia (zwłaszcza II wojna światowa), ale i również amatorskie tworzenie skryptów do gry Minecraft. Zapraszam Cię na fascynującą podróż po mojej krainie! </p>
    </div>
</div>

<style>
    
.homeinfo {
    min-height: 600px;
    margin: calc(38px + 1.5625vw);
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

</style>