<div class="container">

    <h1>Media społecznościowe</h1>
    <div class="socials">
        <a href="https://www.youtube.com/c/nelikstudio" target="_blank" class="fab fa-youtube"></a>
        <a href="https://www.tiktok.com/@michaelnelik" target="_blank" class="fab fa-tiktok"></a>
        <a href="https://www.instagram.com/nelikadre" target="_blank" class="fab fa-instagram"></a>
        <a href="https://twitter.com/Michael_Nelik" target="_blank" class="fab fa-twitter"></a>
        <a href="https://www.facebook.com/NelikStudio" target="_blank" class="fab fa-facebook"></a>
    </div>

    <div class="card">
        <h1>Kontakt</h1>
        <form class="form" id="contactForm" method="post" action="/nelikstudio/fragments/send-script.php">
            <div class="form-row">
                <label for="name">Imię (min. 3 znaki)</label>
                <input type="text" name="name" placeholder="Twoje imię" required pattern=.{3,} id="name" data-error-text="Wypełnij to pole">
            </div>
            <div class="form-row">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="twójmail@gmail.com" required id="email" data-error-text="Wpisz poprawny email">
            </div>
            <div class="form-row">
                <label for="message">Wiadomość</label>
                <textarea name="message" placeholder="Mam problem, ponieważ.." required data-error-text="Musisz wypełnić pole" id="message"></textarea>
            </div>
            <div class="form-row">
                <button type="submit" class="submit-btn"><p>WYŚLIJ</p></button>
            </div>
            <span class="form-row honey-row">
                <label for="honey">Jeżeli jesteś człowiekiem, nie wypełniaj tego pola</label>
                <input type="text" name="honey">
            </span>
        </form>
    </div>
</div>

<style>
* {
    box-sizing: border-box;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.socials .fab {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dark-mode .socials .fab {
    box-shadow: none;
    transition: 2s;
}

.fab:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.fa-facebook {
    background: #3B5998;
}

.fa-tiktok {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-youtube {
    background: #bb0000;
    padding: 20px!important;
}

.fa-instagram {
    background: #125688;
}

/* Ostylowanie formularza */

body {
    margin: 0;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
}

.card {
    margin: auto;
    padding: 2em 3em 0;
    border-radius: 3px;
    width: 100%;
    max-width: 40rem;
}

.contianer h1 {
    padding-top: 2em 0 0;
}

.card h1 {
    display: flex;
    justify-content: center;
}

.loading {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}

.loading::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:"";
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.form .form-row {
    margin-bottom: 1rem;
}

.form .form-row:last-child {
    margin-bottom: 0;
}

.form .honey-row {
    display:none;
}

.form input, .form textarea {
    padding: 0.8rem;
    border: 2px solid #aaa;
    border-radius: 3px;
    display: block;
    width: 100%;
    color: #666;
    background-color: unset;
}

.form textarea {
    height: 10rem;
}

.form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.form .submit-btn {
    padding: 1rem 2rem;
    cursor: pointer;
    border: 0;
    border-radius: 0.2rem;
    font-size: 14px;
    border: 2px solid #aaa;
    background-color: unset;
}

.form .submit-btn p {
    transition: color 3s ease;
}

.form input, .form textarea {
    transition: border 3s ease;
}

.form .submit-btn {
    transition: border 3s ease, transform 0.3s;
}

::placeholder {
    color: rgb(136, 89, 41);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgb(136, 89, 41);
}

::-ms-input-placeholder {
    color: rgb(136, 89, 41);
}

.form .submit-btn p {
    margin: 0;
}

.form .submit-btn:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 620px) {
    .form .submit-btn {
        display: block;
        width: 100%;
    }
}

.form input.field-error, .form textarea.field-error {
    border-color: tomato;
    outline: none;
    box-shadow: 0 0 0 2px rgba(255,99,71, 0.3);
}

.form-error-text {
    color: tomato;
    font-size: 0.8rem;
    margin-top: 5px;
}

.form-error-inline .form-error-text {
    display: none;
}

.form-send-success, .form-send-error {
    font-family: sans-serif;
}

.form-send-success strong, .form-send-error strong {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.included_page {
    overflow: hidden;
}

/* Ciemny motyw */

.dark-mode .form input, .dark-mode .form textarea, .dark-mode .form .submit-btn {
    color: orange;
    border: 2px solid orange;
}

/* Responsywność */

/* mobile */
@media (max-width: 480px) {
    h1 {
        font-size: 2.5vh;    
    }
    .card {
        padding: 10px;
    }

    .form-row {
        margin-bottom: 10px;
    }

    label, input {
        font-size: 1.8vh!important;
    }

    .form textarea {
        height: 5rem;
    }
}

/* mobile +1 */
@media (min-width: 481px) and (max-width: 620px){
    .card {
        padding: 20px;
    }

    .form-row {
        margin-bottom: 10px;
    }

    .form textarea {
        height: 7rem;
    }
}	

/* Max */
@media (min-width: 621px) and (max-width: 700px){

}

</style>

<script>

/* Działanie formularzu */

{
    function removeFieldError(field) {
        const errorText = field.nextElementSibling;
        if (errorText !== null) {
            if (errorText.classList.contains("form-error-text")) {
                errorText.remove();
            }
        }
    };

    function createFieldError(field, text) {
        removeFieldError(field);

        const div = document.createElement("div");
        div.classList.add("form-error-text");
        div.innerText = text;
        if (field.nextElementSibling === null) {
            field.parentElement.appendChild(div);
        } else {
            if (!field.nextElementSibling.classList.contains("form-error-text")) {
                field.parentElement.insertBefore(div, field.nextElementSibling);
            }
        }
    };

    function toggleErrorField(field, show) {
        const errorText = field.nextElementSibling;
        if (errorText !== null) {
            if (errorText.classList.contains("form-error-text")) {
                errorText.style.display = show ? "block" : "none";
                errorText.setAttribute('aria-hidden', show);
            }
        }
    };

    function markFieldAsError(field, show) {
        if (show) {
            field.classList.add("field-error");
        } else {
            field.classList.remove("field-error");
            toggleErrorField(field, false);
        }
    };

    const form = document.querySelector("#contactForm");
    const inputs = form.querySelectorAll("[required]");

    form.setAttribute("novalidate", true);

    for (const el of inputs) {
        el.addEventListener("input", e => markFieldAsError(e.target, !e.target.checkValidity()));
    }

    form.addEventListener("submit", e => {
        e.preventDefault();

        let formErrors = false;

        for (const el of inputs) {
            removeFieldError(el);
            el.classList.remove("field-error");

            if (!el.checkValidity()) {
                createFieldError(el, el.dataset.errorText);
                el.classList.add("field-error");
                formHasErrors = true;
            }
        }

        if (!formErrors) {
            const submit = form.querySelector("[type=submit]");
            submit.disabled = true;
            submit.classList.add("loading");

            const formData = new FormData(form);
            const url = form.getAttribute("action");
            const method = form.getAttribute("method");

            fetch(url, {
                method: method.toUpperCase(),
                body: formData
            })
            .then(res => res.json())
            .then(res => {
                if (res.errors) {
                    const selectors = res.errors.map(el => `[name="${el}"]`);
                    const fieldsWithErrors = form.querySelectorAll(selectors.join(","));
                    for (const el of fieldsWithErrors) {
                        markFieldAsError(el, true);
                        toggleErrorField(el, true);
                    }
                } else {
                    if (res.status === "ok") {
                        const div = document.createElement("div");
                        div.classList.add("form-send-success");
                        div.innerText = "Wysłanie wiadomości się nie powiodło";

                        form.parentElement.insertBefore(div, form);
                        div.innerHTML = `
                            <strong>Wiadomość została wysłana</strong>
                            <span>Dziękujemy za kontakt. Postaramy się odpowiedzieć jak najszybciej</span>
                        `;
                        form.remove();
                    }
                    if (res.status === "error") {
                        const statusError = document.querySelector(".form-send-error");
                        if (statusError) {
                            statusError.remove();
                        }

                        const div = document.createElement("div");
                        div.classList.add("form-send-error");
                        div.innerText = "Wysłanie wiadomości się nie powiodło";
                        submit.parentElement.appendChild(div);
                    }
                }
            }).finally(() => {
                submit.disabled = false;
                submit.classList.remove("loading");
            });
        }
    });
}
</script>

</body>
</html>