<div class="container">

    <div class="portfoliocontainer">

        <h1>YouTube</h1>
      
        <div class="portfoliotext">
            <p>Moja przygoda z YouTube rozpoczęła się w 2013 roku, kiedy zdecydowałem się opublikować swój pierwszy film na kanale "Nelik Studio". Od tamtej pory kontynuuję rozwijanie tego kanału tworząc/przerabiając muzykę. Aktualnie teści zamieszczam na YouTube, w postaci filmów oraz shortsów, oraz na platformie TikTok. Warto tutaj zaznaczyć, że mój kanał jest mały, dlatego jeszcze na nim nie zarabiam, a filmy tworzę z pasji i dobrej zabawy.</p>
        </div>
    </div>

    <h1>3 ostatnie filmy</h1>
    <div class="videocontainer">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/GIZbOJMq8zQ" frameborder="0" allowfullscreen></iframe>
            <p>OPAŁ - PRZESTRZEŃ</p>
        </div>
          
        <div class="video">
            <iframe src="https://www.youtube.com/embed/6ZSeN3lPZfw" frameborder="0" allowfullscreen></iframe>
            <p>FLORAL BUGS - KŁAMCZUCH</p>
        </div>
          
        <div class="video">
            <iframe src="https://www.youtube.com/embed/7UTKUHfaMJY" frameborder="0" allowfullscreen></iframe>
            <p>BIAŁAS - NEWCOMER</p>
        </div>
    </div><br><br>

    <h1>3 najpopularniejsze filmy</h1>
    <div class="videocontainer">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/F4YPbTJ2wWM" frameborder="0" allowfullscreen></iframe>
            <p>STACHU JONES - TSUNAMI</p>
        </div>
          
        <div class="video">
            <iframe src="https://www.youtube.com/embed/vDpQq7xvAjw" frameborder="0" allowfullscreen></iframe>
            <p>XS Project - BOCHKA, BASS, KKOLBASER</p>
        </div>
          
        <div class="video">
            <iframe src="https://www.youtube.com/embed/s_mN3wrcPw0" frameborder="0" allowfullscreen></iframe>
            <p>TUJAMO - BOOTY BOUNCE</p>
        </div>
    </div><br><br>

    <h1 id="tiktokh1">TikTok</h1>
    
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@michaelnelik" data-unique-id="michaelnelik" data-embed-type="creator">
        <section>
            <a target="_blank" href="https://www.tiktok.com/@michaelnelik?refer=creator_embed">@michaelnelik</a>
        </section>
    </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>

    <h1>3 ostatnie filmy w formacie TikTok</h1>
    <div class="videocontainertiktok">
        <div class="videotiktok">
            <iframe src="https://www.tiktok.com/embed/v2/7237769354987785499" frameborder="0" allowfullscreen></iframe>
        </div>
          
        <div class="videotiktok">
            <iframe src="https://www.tiktok.com/embed/v2/7234466348351458587" frameborder="0" allowfullscreen></iframe>
        </div>
          
        <div class="videotiktok">
            <iframe src="https://www.tiktok.com/embed/v2/7230044077562088730" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<style>

.included_page {
    overflow: hidden;
}

.portfoliotext, .portfoliocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.portfoliocontainer {
    min-height: 800px;
    margin: 0px calc(48px + 1.5625vw) 0px;
    font-size: 18px;
}

.portfoliocontainer h1 {
    text-align: center;
}

.container h1 {
    margin: 4vw;
}

.videocontainer, .videocontainertiktok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 250px;
}

.video {
    width: 30vw;
    height: 17vw;
    aspect-ratio: 16/9;
    margin: 10px;
}

.videotiktok {
    height: 760px;
    max-width: 605px;
    min-width: 325px;
    margin: 10px;
}
    
.video iframe, .videotiktok iframe {
    width: 100%;
    height: 100%;
}

.video p {
    text-align: center;
}

.tiktok-embed {
    margin: 80px 0px 80px;
    max-width: 780px;
    min-width: 288px;
    transform: scale(1.3);
}

/* Responsywność */

@media (max-width: 620px) {
    .video {
        width: 68vw;
        height: 22vh;
        margin: 4vh;
    }
    .videocontainer {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 1050px) {
    .videocontainertiktok {
        flex-direction: column;
        justify-content: center;
    }
    .tiktok-embed {
        margin: 0;
        max-width: 780px;
        min-width: 288px;
        transform: scale(0.8);
    }
    .videocontainertiktok {
        flex-direction: column;
        justify-content: center;
    }
    .portfoliocontainer {
        font-size: 1.7vh;
        justify-content: initial;
        min-height: initial !important;
    }
    .portfoliocontainer h1, #tiktokh1 {
        margin: 40px 40px 0;
    }
    .container h1 {
        text-align: center;
        font-size: 3vh;
    }
    .container h1 {
        margin: 4vh;
    }
    .video p {
        font-size: 1.9vh;
    }
}

</style>